body {
    font-family: Arial, sans-serif;
    
    box-sizing: border-box;
}
.cuadro{
  
    grid-template-columns: 50% 49% ;
    grid-template-rows:180px 100px 400px 400px 4480px ;
    justify-content: space-around;
 
    width: 80%;
    margin: 0 auto;
    background-color: rgb(235, 231, 231);
    padding: 20px;
    border: 5px solid black;


}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid black;
    
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
   
}

.cuadro1 {
    text-align: center;
    padding: 40px 20px;
}

.cuadro2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.barra{
    border-bottom: 2px solid black;
}

.proyecto, .EXPERIENCIA, .educacion {
    border: 2px solid black;
    padding: 15px;
    width: 310px;
    
}

.proyecto {
    width: 32%;
    
}

.caja_educacion{
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.EXPERIENCIA, .educacion {
    width: 48%;
}

.caja_comentarios {
    text-align: center;
    padding: 20px;
    border-top: 2px solid black;
}

.minicaja {
    display: inline-block;
    width: 25%;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

.imagen{
height: 220px;
width: 220px; 

border-radius: 50%; 

    
}